@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MainPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}



		<!-- Banner -->
			<section id="banner">
				@*<i class="icon fa-diamond"></i>
				<i class="icon fa-pizza-slice"></i>*@
				<h2>@Model.Value("bannerTitle")</h2>
				<p>@Model.Value("bannerDescription")</p>
				@*
				<ul class="actions">
					<li><a href="#" class="button big special">Learn More</a></li>
				</ul>
				*@
			</section>

